# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Python Flask\Flask_Basics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
