<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Flask Upload File and validate before save to Database using SQLAlchemy </title>
</head>
<body>
<h2>Python Flask Upload File and validate before save to Database using SQLAlchemy </h2>
<h3>Select a file to upload</h3>
<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
<div class="alert alert-primary">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endwith %}
</p>
<form method="post" action="/upload" enctype="multipart/form-data">
    <input type="text" name="txtusername" value="" placeholder="User Name" required>
    <br><br>

    <input type="email" name="email" placeholder="email"  required>
    <dl>
        <p>
            <input type="file" name="inputFile" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
<style>
    .alert-primary {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }

    .alert {
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
</style>
</body>
</html>